* :global(svg:focus) {
    outline: 0;
}

body {
    font-family: Roboto;
    overflow: hidden;
    caret-color: white !important;
}

.inputdiv {
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 2% 20%;
}



.plusicon {
    height: 50px !important;
    width: auto !important;
}

.plusbutton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.section-heading {
    margin: 1% 5%;
    font-weight: bold;
    font-size: larger;
}

.container_active-tasks {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.list_active-tasks {
    margin: 0 10%;
    overflow-y: auto;
    width: 100%;
    max-height: 60vh;
}

.each_active-tasks {
    display: flex !important;
    flex-wrap: nowrap;
    align-items: center;
    overflow-wrap: break-word;
    position: relative;
}

.taskname {
    width: 100%;
    overflow-wrap: break-word;
}

.taskname_done {
    width: 100%;
    overflow-wrap: break-word;
}

.each_actionicons {
    height: 25px;
    width: auto;
    margin-right: 0%;
}

.actionicons_done {
    height: 25px;
    width: auto;
    margin-right: 0%;
}


.placeholder-container {
    height: 50vh;
}

.placeholder {
    margin: 0% 5%;
    color: grey;
}



hr.divider {
    margin: 1% 4%;
    color: grey;
}

.container_done-tasks {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.list_done-tasks {
    margin: 0 10%;
    overflow: scroll;
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}

.each_done-tasks {
    display: flex !important;
    flex-wrap: nowrap;
    color: grey;
    text-decoration: line-through;
    align-items: center;
    width: 100%;
}

.editabletask {
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 2em;
}


.inputfield .mdc-notched-outline path {
    stroke: #FD4864 !important;
}

.inputfield .mdc-notched-outline .mdc-notched-outline__leading,
.inputfield .mdc-notched-outline .mdc-notched-outline__trailing,
.inputfield .mdc-notched-outline .mdc-notched-outline__notch {
    border-color: #FD4864 !important;
}


.inputfield .mdc-text-field::placeholder {
    color: #FD4864 !important;
}

.inputfield .mdc-text-field {
    color: #FD4864 !important;
}

.inputfield .mdc-line-ripple {
    background-color: #FD4864 !important;
}

.mdc-text-field .mdc-text-field__input {
    caret-color: white !important;
}

.inputfield {
    width: 100%;
    --mdc-theme-primary: #FD4864 !important;
}

.inputfield .mdc-floating-label:not(.mdc-floating-label--float-above) {
    color: grey !important;
}

.inputfield .mdc-floating-label.mdc-floating-label--float-above {
    color: #FD4864 !important;
}