body {
    font-family: Roboto;
}

.inputdiv {
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 2% 20%;
}

.inputfield {
    width: 100%;
}

.plusicon {
    right: 10px;
    width: 50px;
    height: auto;
    fill: #FD4864;
    cursor: pointer;
}

.button {
    border: none;
    background-color: transparent
}

.active-tasks {
    margin: 0 10%;
}

.deleteicon {
    height: 25px;
    width: auto;
}

.deletebutton {}

.eachtask {
    display: flex !important;
    flex-wrap: nowrap;
}

.taskname {
    width: 100%;
}